body {
  
  background-image:url('../../background/contact.png') ;
  overflow-x: hidden;
}

  .trait {

    margin-top: 520px;
    width: 900;
    border:5px solid;
    height: 0px;
    border-radius: 10px;
    color: #493430;
  }

  .fleche { 

    color: #D9D9D9;
    display: block;
    margin: auto;
  }

  .photo_moi {
    
    width: 280px ;
  }

  .descriptif {
    margin-top: 270px;
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    margin-bottom: 130px;
  }

  .descriptif_paragraphes {
    display: flex ;
    flex-direction: column ;
    padding-left: 120px;
    padding-right:120px ;
    margin-top: 70px;
    margin-left: 50px ;
    color: #AB948F;
  }



  


  .sections {


    align-items: center;
    display: flex;
    flex-direction :row; 
    justify-content: flex-start;
    align-content: center;
    align-items: center;
  }

  .sections .div1 {

    background-image: url("page_3/img_design.jpg") ;
    color: F5F5F5;
    outline: F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;


  }

  .sections .div2 {
    background-image: url("page_3/img_info.jpg") ;
    display: flex;
    justify-content: center; 
  }

  .section-work {
    margin-top: 130px;
    color: #f2e4e4;
    font-family: ashegia;
    font-weight: 100;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .sections svg {
    
   
    width: 50%;
    height: 280px;
    color: F5F5F5;

  }

  .sections h2 {

    color: white;
    opacity: 67%;
  }


  .menu {

    margin-top: 60px;
  }
