html {
  scroll-behavior: smooth;
}

body {
  background-image: url('../../background/aboutme.png');
  overflow-x: hidden;
}

.Qui {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.Qui h1 {
  font-size: 60px;
  font-weight: 200;
  font-family: ashegia;
  color: white; /* Ajout de la couleur */
}

.trait {
  width: 700px;
  border: 4px solid #E4C7C1;
  border-radius: 10px;
}

.fleche {
  color: #D9D9D9;
  display: block;
  margin: auto;
}

.photo_moi {
  width: 220px;
  display: block;
  margin: auto;
}

.descriptif {
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-left: 0;
  margin-bottom: 100px;
}

.descriptif_paragraphes {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
  color: #f2e4e4;
  font-family: benage;
  font-weight: 400;
}

.sections {
  flex-direction: column;
  align-items: center;
}

.sections div {
  width: 90%;
  height: 250px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sections .div1 {
  background-image: url("page_3/img_design.jpg");
  background-size: cover;
}

.sections .div2 {
  background-image: url("page_3/img_info.jpg");
  background-size: cover;
}

.sections h2 {
  color: white;
  opacity: 67%;
}

.section-work {
  margin-top: 100px;
  margin-left: 50px;
  opacity: 67%;
  color: white;
  text-align: center;
}
aboutme.css
2 Ko